altair
numpy
pandas
pydeck
streamlit
openpyxl
tensorflow
Sequential
LSTM
odfpy
openai
xlrd
xlsxwriter
aiohttp
websockets
Pillow
playwright
beautifulsoup4
requests
fuzzywuzzy
matplotlib
plotly
streamlit-aggrid
streamlit-authenticator
python-dotenv
selenium
beautifulsoup4
webdriver-manager
